.about {
  margin-top: 100px;
  margin-left: 130px;
}
.about p {
  color: #737373b3;
  width: 71%;
}
.about .jf {
  color: black;
}
.about h6 {
  font-size: 12px;
  color: #737373b3;
  letter-spacing: 5px;
}
.about h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Quicksand, Arial, sans-serif;
}




.lightbulb
{
    font-size: 30px;
    color: #2C98F0;
    margin-top: -20px;
    
}
.underline1
{
  border-bottom: 2px solid #2C98F0!important;
}

.earth
{
  font-size: 30px;
  color: #EC5453;
  margin-top: -20px;
}
.underline2
{
  border-bottom: 2px solid #EC5453!important;
}
.database
{
  font-size: 30px;
  color: #F9BF3F;
  margin-top: -20px;
}
.underline3
{
  border-bottom: 2px solid #F9BF3F!important;
}
.mobile
{
  font-size: 30px;
  color: #A84CB8;
  margin-top: -20px;
}
.underline4
{
  border-bottom: 2px solid #A84CB8!important;
}

.row p 
{
  font-size: 15px;
}

.card {
  padding: 40px 0px;
  width: 16%!important;
  float: left;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 0px;
}
.maincards
{
  width: 100%;
}
.maybe 
{
  width: 100%;
  padding: 0px!important;
}
.clr
{
  clear: both;
}
