<div class="container">
  <div class="col-lg-8 m-auto">
    <p class="mt-3 experiencecaption">EXPERIENCE</p>
    <h3 class="workcaption">work EXPERIENCE</h3>
    <div class="resume-item mt-4 circle1">
      <i class="fa-solid fa-pencil pencil"></i>
      <div class="resume-content">
        <h4>
          Full Stack Developer
          <h5 class="datecolor">2017-2018</h5>
        </h4>

        <p>
          Tolerably earnestly middleton extremely distrusts she boy now not. Add
          and offered prepare how cordial two promise. Greatly who affixed
          suppose but enquire compact prepare all put. Added forth chief trees
          but rooms think may.
        </p>
      </div>
    </div>
    <!-- Edn Resume Item -->

    <div class="resume-item circle2">
      <i class="fa-solid fa-pencil pencil"></i>
      <div class="resume-content">
        <h4>
          Front End Developer at Google Company
          <h5 class="datecolor">2017-2018</h5>
        </h4>

        <p>
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of
          Grammar.
        </p>
      </div>
    </div>
    <!-- Edn Resume Item -->
    <div class="resume-item circle3">
      <i class="fa-solid fa-pencil pencil"></i>
      <div class="resume-content">
        <h4>
          System Analyst
          <h5 class="datecolor">2017-2018</h5>
        </h4>

        <p>
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of
          Grammar.
        </p>
      </div>
    </div>
    <!-- Edn Resume Item -->
    <div class="resume-item circle4"></div>
  </div>
</div>
