<!-- <div id="sidebar" class="sidebar">
  <i class="header-toggle d-xl-none bi bi-list"></i>

  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="assets/profile/profile.jpg"
        alt="Ali's pp"
        class="rounded-circle"
      />
      <h1 class="text-black">Jackson Ford</h1>
      <div class="social-links mt-2 text-center">
        <p class="text-secondary">
          <span class="titleuiux">UI/UX/Designer</span> in Philippines
        </p>
      </div>
    </div>
    <nav id="navbar" class="nav-menu navbar">
      <ul class="m-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="underline" routerLink="home"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="underline" routerLink="about"
            >ABOUT</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="underline" routerLink="skills"
            >SKILLS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="underline"
            routerLink="experience"
            >EXPERIENCE</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="underline" routerLink="work"
            >WORK</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div> -->

<div id="sidebar" class="sidebar d-flex flex-column">
  <div class="profile-img">
    <img
      src="assets/profile/profile.jpg"
      alt="Ali's pp"
      class="rounded-circle"
    />
    <h1 class="text-black">Jackson Ford</h1>
    <div class="social-links mt-2 text-center">
      <p class="text-secondary">
        <span class="titleuiux">UI/UX/Designer</span> in Philippines
      </p>
    </div>
  </div>
  <nav id="navbar" class="nav-menu navbar">
    <ul class="m-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="underline" routerLink="home"
          >HOME</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="underline" routerLink="about"
          >ABOUT</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="underline" routerLink="skills"
          >SKILLS</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="underline" routerLink="experience"
          >EXPERIENCE</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="underline" routerLink="work"
          >WORK</a
        >
      </li>
    </ul>
  </nav>
</div>
